.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  align-items: center;
  padding: 0 10px 15px 10px;
  border-radius: 10px;
  position: relative;
  user-select: none;
}

.card__title {
  font-size: 16px;
  font-weight: 700;
}

.card__image {
  object-fit: cover;
  object-position: center 0;
}

.card__button {
  border-radius: 10px;
  background-color: #d44637;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 15px;
  transform: translateY(0px);
  transition: transform .2s ease-out;

  &:hover {
    transform: translateY(1px);
  }
}

.favorite {
  position: absolute;
  right: 25px;
  bottom: 22px;
  cursor: pointer;
}

.trash-can {
  position: absolute;
  bottom: 22px;
  left: 25px;
  cursor: pointer;
  transition: color .3s ease;


  &:hover {
    color: #d44637;
  }


}